export VUE_APP_MATCHA_DB='sekesidb'
export MATCHA_TEST_DB='sekesitest'
export TEST='true'
use_nodejs 16.13.2

# export MATCHA_USE_HTTPS='FALSE' # or 'TRUE'
# export MATCHA_HTTPS_PORT=443
# export MATCHA_HTTP_PORT=8088
# export MATCHA_DEFAULT_PORT=8088 # put NONE
# # export MATCHA_HOST='http://localhost'
# export MATCHA_HOST='http://localhost'

export MATCHA_USE_HTTPS='TRUE' # or 'TRUE'
export MATCHA_HTTPS_PORT=9443
export MATCHA_HTTP_PORT=9080
export MATCHA_OUTSIDE_PORT=9080 # put NONE
# export MATCHA_HOST='http://localhost'
export MATCHA_HOST='http://localhost'
