.container {
    left: 50%;
    margin-top: 5%;
}

.card {
    background: #ffffffcb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.account-settings * {
    text-align: center;
    margin-top: 5%;
}


.not-important {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.black {
    color: black;
}

.red {
    color: red;
}

